* {
    padding: 0;
    margin: 0;
}
/*  Home Page  */
#home{ 
    background: url("/public/assets/images/quiz-bg.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    background-color: rgba(0,0,0,0.7);
    height: 40%;
    width: 25%;
    padding: 2rem;
    color: #fff;
   
}
section h1 {
    text-align: center;
    color: #f8f8f8;
    font-size: 2.5rem;
    margin-top: 26px;
}
.play-button-container {
    background-color: #00df00;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.play-button-container:hover{
    background-color: #00c535;
}
#home a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
li.play-button {
    list-style-type: none;
    border-radius: 25px;
}
.auth-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.auth-container a {
    width: 50%;
    display: block;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.5em;
}   
.icon{
    text-align: center;
}

/* Quiz Instructions */
.instructions {
    border: 1px solid #f8f8f8;
    padding: 3%;
    margin: 50px auto;
    width: 55%;
    border-radius: 5px;
    color: #353935	;
    font-size: 1.3rem;
    line-height: 2rem;
    background: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.browser-default{
    margin-top: 10px;
    margin-bottom:15px;
    list-style-position: inside;
}
.instructions h1{
    text-align: center;
    margin-bottom: 5%;
}
.links {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.links a {
    text-decoration: none;
    color: #fff;
    background: #2376fc;
    padding: 10px 20px;
    border-radius: 20px;
}
.browser-default li {
    text-indent: -1.3em;
    padding: 10px 0 10px 30px;
}

/* Quiz Questions */
.img-container {
    margin: 0 auto;
}
.question-container{
    text-align: center;
}
p.question {
    margin: 20px 0;
}
.option-container button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-transform: capitalize;
    border: 1px solid green;
    cursor:pointer
}
.option-container button:hover{
    background-color: #117c13;
    color: #fff;
}
.option-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
    margin: 20px auto;
}
button.help-btn {
    border-radius: 50%;
    padding: 0px 5px;
    font-size: 15px;
    background: orange;
    color: #fff;
    border: none;
}
span.hint {
    font-size: 1rem;
    color: #000;
    margin-left: 10px;
}
.next-finish {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.next-finish button {
    border: 1px solid green;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.next-finish button:hover{
    background-color:green ;
    color: #fff;

}
.question-timer {
    display: flex;
    justify-content: space-between;
}
.question-timer span {
    font-size: 18px;
}
.quiz{
    width:35%
}
.selected{
    background-color: #117c13;
    color: #fff;
}

@media screen and (max-width: 720px) {
    section{
        width:50%;
    }
}
@media screen and (max-width: 920px) {
    section{
        
        padding: 1rem 2rem;
        height: auto;
    }
    section h1 {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .play-button-container{
  margin-top: 20px;
    }
    .play-button-container{
        font-size: 1.2rem;
    }
    .icon svg{
    width:4.5rem !important;
    height: 4.5rem !important;
    }
   
    .instructions{
        width: 75%;
    }
}